<html>

<head>
    {% load static %}
    <script src="{% static 'inventory_module/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'inventory_module/js/tableHandler.js' %}"></script>
</head>

<body>
    <h1 align='center'> Inventory Management System </h1>
    <div style="margin-top: 50px;" id="add">
        <h3 align='center'> Add data </h3>
        <table align='center' cellspacing=2 cellpadding=5 id="add-data-table" border=1>
            <tr>
                <th>Item</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Action</th>
            </tr>

            <tr>
                <td><input type="text" id="item"></td>
                <td><input type="text" id="brand"></td>
                <td><input type="text" id="category"></td>
                <td><input type="text" id="stock"></td>
                <td><input type="text" id="price"></td>
                <td><input type="button"  onclick="add_data();" value="Add"></td>
            </tr>

        </table>
    </div>

    <div style="margin-top: 100px;" align='center' id="inventory-list">
        <h3> Inventory Items </h3>
        <span> <b>Export inventory data:</b></span>
        <input type="button" style="margin-bottom: 15px;" onclick="download_data();" value="Download CSV data">
        <table cellspacing=2 cellpadding=5 id="inventory-list-table" border=1>
            <tr>
                <th>Id</th>
                <th>Item</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </table>
    </div>

</body>

</html>